#exclude LSH binaries, but not other things...
E2LSH-0.1/bin
E2LSH-0.1/*.params
!E2LSH-0.1/bin/lsh*
!E2LSH-0.1/bin/compile
!E2LSH-0.1/bin/exact

#and output from features:
*.txt*
!IRMA Error/*.txt

#and temp files
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#matlab executables and variables, but not database things:
*.mexa64
*.mat
!CBIR/irmaCSV.mat
!CBIR/irmaCSVtest.mat
